.Block {
  padding-top: 60px;
  background-color: rgb(97, 135, 164);
}
.intro {
  background: rgb(161,180,224);
  background: linear-gradient(90deg, rgba(161,180,224,1) 0%, rgba(152,208,208,1) 100%);
}
.home_container {
  padding-left: 50px;
  margin-left: 20px;
}
.img {
  padding-left: 20%;
  padding-right: 20%;
}
.img3 {
  padding-left: 20%;
  padding-right: 20%;

}
.sliderimage {
  border-style: hidden;
  border-radius: 20px;
}
.para {
  margin-top: 1.5%;
  text-align: left;
  padding-left: 7%;
  padding-right: 7%;
  
}
.float{
  text-align : left;
  text-decoration: double;
  border-style: hidden;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  background: rgb(79,139,162);
  background: linear-gradient(0deg, rgba(79,139,162,1) 22%, rgba(23,67,92,1) 100%);
  padding-top: 50px;
  padding-block-end: 50px;
  color: whitesmoke;
}
.subpara {
  margin-left: 5%;
}
.parah {
  float: left;
  margin-top: 1.5%;
  text-align: left;
  padding-left: 7%;
  /* padding-right: 7% ; */
}
hr.one {
  height: 10px;
  border: 2;
  box-shadow: inset 10px 9px 9px -3px rgba(24, 6, 40, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.header {
  font-size: 28px;
  padding-top: 50px;
  margin-left: 7%;
  margin-right: 5%;
  font-weight: bold;
  text-align: justify;
  font-family: Trebuchet Ms;
}
.history {
  margin-top: 5%;
  margin-left: 2%;
  box-shadow: 0px 10px 10px 10px rgb(112, 106, 106);
  float: right;
  align-items: center;
  height: 100%;
   
  margin-right: 2.5%;
}
.roadmap{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  border-radius: 20px;
  width:50vmax;
  box-shadow: 0px 10px 10px 10px rgb(112, 106, 106);
  float: left;
  align-items: center;
  height: 700px;

}
.work {
  margin-top: 2%;
  margin-left: 2%;
  box-shadow: 0px 10px 10px 10px rgb(112, 106, 106);
  float: right;
  align-items: center;
  height: 420px;

  margin-right: 2.5%;
}
.workimg {
  padding-left: 30%;
  box-shadow: 0px 10px 10px 10px rgb(112, 106, 106);
}
/* .flex{
    display: flex;
} */
.histcontainer {
  margin-left: 7%;
  float: left;
}
.briefh {
  margin-top: 3%;
}
.li {
  text-decoration: underline;
  text-decoration-color: rgb(73, 30, 13);
}
.ytl {
  flex-shrink: inherit;
  width: 315px;
  height: 315px;
  margin-top: 2%;
  margin-left: 7%;
  margin-bottom: 7%;
  /* margin: 2% 55.5% 7% 7%; */
  border-style: hidden;
  box-shadow: 0px 10px 10px 10px rgb(112, 106, 106);
}
.ytr {
  width: 315px;
  height: 315px;
  margin-top: 2%;
  margin-left: 7%;
  margin-bottom: 7%;
  border-style: hidden;
  /* margin: 2% 7% 7% 55.5%; */
  box-shadow: 0px 10px 10px 10px rgb(112, 106, 106);
}
.youtubeflex {
  display: flex;
}

@media screen and (max-width: 360px) {
  .youtubeflex {
    display: flex;
    flex-direction: column;
  }
}
